<section class="form">
  <h1>Create New Post</h1>

  <form action="<%= posts_url %>" method="post">
    <%= auth_token %>

    <div class="text_input">
      <label for="post_title">Title</label>
      <input id="post_title" type="text" name="post[title]" value="">
    </div>

    <div class="text_input">
      <label for="post_url">URL</label>
      <input id="post_url" type="text" name="post[url]" value="">
    </div>

    <div class="text_area">
      <label for="post_content">Content</label>
      <textarea id="post_content" name="post[content]" rows="8"  placeholder="Add more details about your post."></textarea>
    </div>

    <input type="submit" value="Create Post">
  </form>
</section>
