<header>
  <a href="/subs"><h1><i class="fa fa-reddit" aria-hidden="true"></i> RedditOnRails</h1></a>
  <section class="header-buttons">
    <% if logged_in? %>
      <strong><%= current_user.username %></strong>
      <%= button_to "Sign Out", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_url %>
      <%= link_to "Sign Up", new_user_url %>
    <% end %>
  </section>
</header>
